.example-card {
    max-width: 400px;
  }
  
  .main{
      margin: 10px auto;
      width: 300px;
      border: 1px solid black;
  }
  .mat-raised-button.mat-primary {
    background-color: #3f51b5;
    margin-left: 25px;
}